<%= render 'shared/navbar-fixed' %>

<div class="container">
  <%= link_to "Back to car", car_path(@car) %>
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for [@car, @booking] do |f| %>
    <%= f.input :start_time, input_html: {class: "datepicker"}, as: :string %>
    <%= f.input :end_time, input_html: {class: "datepicker"}, as: :string %>
    <%= f.button :submit, "Book it !", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
