<%= render 'shared/navbar-fixed' %>

<div class="banner-dashboard">
  <div class="row">
    <div class="container-dashboard">


      <div class="col-1 left-side">
        <div class="cart-c">
          <%= link_to "", new_user_session_path, class: "fas fa-sign-in-alt" %>
          <p>Sign-out</p>
        </div>
        <div class="cart-c">
          <%= link_to "", new_user_car_path(current_user), class: "fas fa-plus-circle" %>
          <p>Add a car</p>
        </div>
        <div class="cart-c">
          <%= link_to "", root_path, class: "fas fa-car-side" %>
          <p>Tryit!</p>
        </div>
      </div>


      <div class="col-8 center">
        <div class="title-d-c">
          <h6>My indicators :</h6>
        </div>
        <div class="kpm-area">
          <div class="metric-a">
            <% if @user.cars.presence %>
              <h1><%= @user.cars.size %></h1>
            <% end %>
            <h2>cars in your garage</h2>
          </div>
          <div class="metric-a">
            <h1>2</h1>
            <h2>bookings of your car to come</h2>
          </div>
          <div class="metric-a">
            <h1>3</h1>
            <h2>Tryit users interessed by your car(s)</h2>
          </div>
        </div>

      <% if @user.bookings.presence %>
        <div class="title-d-c">
          <h6>My upcoming bookings ( <%= @bookings.size %> ) :</h6>
        </div>
        <div class="kpm-area">

            <% @bookings.each do |book| %>
              <div class="booking-a">
                  <div class= "cart-h-b">
                    <div class="try-date" >
                      <p> <%=book.start_time.strftime("%d/%m/%Y")%></p>
                      <p> <%=book.start_time.strftime("at: %I:%M%p")%></p>
                    </div>
                    <div class="try-date-r" >
                      <p> <%=book.end_time.strftime("%d/%m/%Y")%></p>
                      <p> <%=book.end_time.strftime("at: %I:%M%p")%></p>
                    </div>
                  </div>

                  <div><%= cl_image_tag book.car.photos.first.key, height: 120 %> </div>
                  <div class="title-d">
                    <h6>THE CAR</h6>
                  </div>
                  <div class="field-d">
                    <h6>Model :</h6>
                    <p><%= book.car.model %></p>
                  </div>
                  <div class="field-d">
                    <h6>Brand :</h6>
                    <p><%= book.car.brand %></p>
                  </div>
                  <div class="title-d">
                    <h6>OWNER</h6>
                  </div>
                  <div class="field-d">
                    <h6>Name :</h6>
                    <p><%= book.car.user.first_name%></p>
                  </div>
                  <div class="field-d">
                    <h6>Phone :</h6>
                    <p><%= book.car.user.phone_number %></p>
                  </div>
                  <div class="title-d">
                    <h6>PRICE</h6>
                  </div>
                  <div class="field-d">
                    <h6>Cost for the Try :</h6>
                    <p><%= book.price %>€</p>
                  </div>
                  <div class="cart-h-b">
                    <div class="btn-edit"> <%= link_to "Edit", car_booking_path(book) %> </div>
                    <div class="btn-show"> <%= link_to "Show", car_path(book.car) %> </div>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="col-3 right-side">
        <div class="my-info">
          <div class="cart-h">
            <i class="fas fa-bell"></i>
            <p>EN</p>
            <i class="fas fa-caret-down"></i>
          </div>

          <div class="cart-v">
            <%= cl_image_tag @user.photo.key, class: "avatar-mini" %>
            <h6>
              <%= @user.first_name %>
              <%= @user.last_name %>
            </h6>
            <p>User</p>
          </div>
        </div>

        <div class="title-d">
          <h6>My personal info :</h6>
        </div>
        <div class="field-d">
          <h6>username :</h6>
          <p><%= @user.username %></p>
        </div>

        <div class="field-d">
          <h6>email :</h6>
          <p><%= @user.email %></p>
        </div>
        <div class="field-d">
          <h6>Phone :</h6>
          <p><%= @user.phone_number %></p>
        </div>

        <div class="title-d">
          <h6>My cars :</h6>
          <% if @user.cars.presence %>
          <div class="nbr-car"><%= @user.cars.size %></div>
        </div>

              <% @cars.each do |car| %>
                <div class="my-car-d">
                  <div class="field-d">
                    <div><%= cl_image_tag car.photos.first.key, height: 120 %> </div>
                    <div class="cart-vc">
                      <div class="btn-edit"> <%= link_to "Edit", edit_user_car_path(car) %> </div>
                      <div class="btn-show"> <%= link_to "Show", car_path(car) %> </div>
                    </div>
                  </div>
                  <div class="field-d">
                    <h6>Model :</h6>
                    <p><%= car.model %></p>
                  </div>
                  <div class="field-d">
                    <h6>Brand :</h6>
                    <p><%= car.brand %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
