<div class="container">

  <div class="card-trips d-flex p-3">

    <div class="card-trip">
        <%= cl_image_tag("sports_nhpcck", width: "100%", height: 200) %>
      <div class="card-trip-infos">
        <div>
          <h2>Sports car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <%= cl_image_tag("exotic_mlaigt", width: "100%", height: 200) %>
      <div class="card-trip-infos">
        <div>
          <h2>Exotic car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <%= cl_image_tag("vintage_lpwu5i", width: "100%", height: 200) %>
      <div class="card-trip-infos">
        <div>
          <h2>Vintage car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

  </div>

  <div class="card-2trips-center d-flex justify-content-center">
    <div class="card-2trips d-flex p-3">

      <div class="card-trip">
        <%= cl_image_tag("family_hi7ujp", width: "100%", height: 200) %>
        <div class="card-trip-infos">
          <div>
            <h2>Family car</h2>
            <p>Discover all cars available !</p>
          </div>
        </div>
      </div>

      <div class="card-trip">
        <%= cl_image_tag("urban_qwmmab", width: "100%", height: 200) %>
        <div class="card-trip-infos">
          <div>
            <h2>Urban car</h2>
            <p>Discover all cars available !</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
