<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-fixed">

  <div class="brand">
    <h1><%= link_to "Tryit!__", root_path %></h1>
    <p>&nbsp</p>
    <div>
      <%= link_to "", root_path, class: "navbar-brand fas fa-car-side" %>
    </div>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <div class="cartouche">
          <div>
            <li class="nav-item">
              <%= link_to "", new_user_session_path, class: "nav-link fas fa-solar-panel" %>
            </li>
          </div>

          <div>
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "My Dashboard", user_path(current_user) , class: "dropdown-item" %>
                <%= link_to "Add a car", new_user_car_path(current_user), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        </div>

      <% else %>
        <div class="cartouche">
          <div>
            <li class="nav-item">
              <%= link_to "", new_user_session_path, class: "nav-link fas fa-sign-in-alt" %>
            </li>
          </div>

          <div>
            <li class="nav-item dropdown">
              <%= cl_image_tag "IMG_5558_czcdlv", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                <%= link_to "Sign-up", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "About", "#", class: "dropdown-item" %>
              </div>
            </li>
          </div>
        </div>

      <% end %>
    </ul>
  </div>
</div>
