<!--
<div class="container">
  <div class="row">
    <div class="col-6 form-group form-inline">
      <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :category, params[:category], class: "form-control", placeholder: "Urban" %>
      <%= select_tag :category, options_for_select(["family", "sports", "urban", "vintage"]) %>
      <p class="fas fa-search"></p>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="search-bar">
      <%= simple_form_for :car, url: cars_path, defaults: {label: false}, method: "GET" do |f| %>
        <%= f.input :address, placeholder: "Discover cars around me", input_html: {id:"address"} %>
        <%= f.input :category, label: '', :collection => ["Family", "Sports", "Urban", "Vintage", "Exotic"], :as => :check_boxes, :input_html => {:name => "search[category][]", :multiple => true, :checked => true} , :id => "car_category", :class => "checkbox-inline"%>
        <%= f.submit "Search", class: "button-search" %>
      <% end %>
    </div>
  </div>
</div>
