<!--
<div class="container">
  <div class="row">
    <div class="col-6 form-group form-inline">
      <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :category, params[:category], class: "form-control", placeholder: "Urban" %>
      <%= select_tag :category, options_for_select(["family", "sports", "urban", "vintage"]) %>
      <p class="fas fa-search"></p>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="search-bar">
      <%= simple_form_for :car, url: cars_path, method: "GET" do |f| %>
        <%= f.input :address, placeholder: "Discover cars around me" %>
        <%#= f.select :category, options_for_select(["All categories", "Family", "Sports", "Urban", "Vintage", "Exotic"]), class: "card-search-selection"%>
        <%= f.input :category, :label => "Categorie", :collection => ["All categories", "Family", "Sports", "Urban", "Vintage", "Exotic"], :include_blank => "Anything", :as => :check_boxes, :input_html => {:name => "search[category][]", :multiple => true} %>
        <%#= f.radio_button :category, :label => "Categorie", :collection => ["All categories", "Family", "Sports", "Urban", "Vintage", "Exotic"], :include_blank => "Anything", :as => :radio_buttons, :input_html => {:name => "search[category][]", :multiple => true} %>
        <%# categories = ["All categories", "Family", "Sports", "Urban", "Vintage", "Exotic"] %>
        <%# categories.each do |cat| %>
        <%#= f.check_box :cat, :label => "test", {multipe: true}, cat%>
        <%# end %>
        <%= f.submit "Search", class: "button-search" %>
      <% end %>
    </div>
  </div>
</div>
