<%= render 'shared/navbar-fixed' %>

<div class="cards-list">
  <div class="cards">
    <% @cars.each do |car|%>
    <%= link_to car_path(car), class:"text-decoration" do %>
      <% if car.photos.attached? %>
        <div class="card" style="background-image: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3)), url('<%= cl_image_path car.photos.first.key, :cloud_name => "dcbecmbrj", crop: :fill %>')">
      <% else %>
        <div class="card">
      <% end %>
          <div class="card-text"><%= car.brand %></div>
          <% case car.category %>
            <% when "Family" %>
              <p class="card-category" id="family"><em><%= car.category %></em></p>
            <% when "Sports" %>
              <p class="card-category" id="sports"><em><%= car.category %></em></p>
            <% when "Urban" %>
              <p class="card-category" id="urban"><em><%= car.category %></em></p>
            <% when "Vintage" %>
              <p class="card-category" id="vintage"><em><%= car.category %></em></p>
            <% when "Exotic" %>
              <p class="card-category" id="exotic"><em><%= car.category %></em></p>
            <% end %>
          <div class="price">
            <p><%= car.daily_rent_price %>€ / hour</p>
          </div>
          <div class="rating">
              <% @average_rating.to_i.times do %>
              <i class="fas fa-star"></i>
              <% end %>
              <% (5 - @average_rating.to_i).times do %>
                <i class="far fa-star"></i>
              <% end %><em>
          </div>
        </div>
    <% end %>
    <% end %>
  </div>
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-marker="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
