<%= render 'shared/navbar-fixed' %>
<div class="container p-3">
  <div class="card-title">
    <div class="card-description">
      <h1><%= @car.brand %> - <%= @car.model %></h1>
      <p><%= @car.address %></p>
    </div>
    <div class="card-rating">
      <h3><%= @average_rating.to_i %>.0
      <% @average_rating.to_i.times do %>
        <i class="fas fa-star"></i>
          <% end %>
        <% (5 - @average_rating.to_i).times do %>
          <i class="far fa-star"></i>
        <% end %><em>
        <p style= "text-align: right;">(<%= @reviews.count %> rides)</p></em>
      </h3>
    </div>
  </div>
  <div class="photo-description d-flex">
      <%= cl_image_tag @car.photos.first.key, class: "car-photo" %>

      <% unless @car.photos[1..-1].length == 0 %>
        <div id="photos">
        <% @car.photos[1..-1].each do |photo| %>
            <%= cl_image_tag photo.key, class: "car-photos" %>
        <% end %>
        </div>
      <% end %>
  </div>
  <div class="description">
    <div class="car-description py-3">
      <div class="owner">
        <div class="owner-name">
          <h2><%= @car.user.first_name%> <%= @car.user.last_name %></h2>
          <p><%= @car.user.email %></p>
          <p><%= @car.user.phone_number %></p>
        </div>
        <p><%= cl_image_tag @car.user.photo.key, class: "avatar-user" %></p>
      </div>
      <div class="infos p-3">
        <div class="d-flex justify-content-start align-items-baseline">
          <i class="fas fa-car-alt"></i><p class="px-3"><%= @car.model %> - <%= @car.brand %></p>
        </div>
        <div class="d-flex justify-content-start align-items-baseline">
          <i class="fas fa-cogs"></i><p class="px-3"><%= @car.motorizing %></p>
        </div>
      </div>
      <div class="description py-3">
        <p><%= @car.description %></p>
      </div>
    </div>
    <div class="car-booking d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_time, input_html: {class: "datepicker"}, as: :string %>
          <%= f.input :end_time, input_html: {class: "datepicker"}, as: :string %>
          <%= f.button :submit, "Book it !", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h2 style="text-align: center">Reviews</h2>

  <div class="reviews">
    <% @reviews.each do |review| %>
    <div class="review">
        <p><strong><%= review.user.first_name %> <%= review.user.last_name %> - </strong>
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %> | " <%= review.content %> "</p>
    <% end %>
     </div>
 </div>
</div>



